#!/usr/bin/env bash

# Load deploy-base env script
export BASEDIR=$(git rev-parse --show-toplevel)
DEPLOY_BASE_ROOT="${BASEDIR}/../deploy-base"

ONE_PASSWORD_TOKEN="op://Pulumi/7pgmqbvpk6xaps4exrjgbjyy24/password"

source "${DEPLOY_BASE_ROOT}/envrc-base.sh"
